USE [master]
GO
/****** Object:  Database [Cobimob]    Script Date: 24/07/2025 10:47:52 ******/
CREATE DATABASE [Cobimob]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Comimov', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLTESTES\MSSQL\DATA\Comimov.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Comimov_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLTESTES\MSSQL\DATA\Comimov_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Cobimob].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Cobimob]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 24/07/2025 10:47:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nome] [nvarchar](100) NULL,
	[cpf_cnpj] [nvarchar](20) NULL,
	[telefone] [nvarchar](20) NULL,
	[email] [nvarchar](100) NULL,
	[endereco] [nvarchar](255) NULL,
	[tipo_recebimento] [nvarchar](20) NULL,
	[conta_bancaria] [nvarchar](100) NULL,
	[deseja_fci] [nvarchar](10) NULL,
	[deseja_seguro_fianca] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContasBancarias]    Script Date: 24/07/2025 10:47:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContasBancarias](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_cliente] [int] NOT NULL,
	[banco] [varchar](100) NULL,
	[agencia] [varchar](20) NULL,
	[conta] [varchar](30) NULL,
	[tipo_conta] [varchar](20) NULL,
	[chave_pix] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contratos]    Script Date: 24/07/2025 10:47:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contratos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_imovel] [int] NULL,
	[id_inquilino] [int] NULL,
	[data_inicio] [date] NULL,
	[data_fim] [date] NULL,
	[taxa_administracao] [decimal](5, 2) NULL,
	[fundo_conservacao] [decimal](5, 2) NULL,
	[tipo_reajuste] [nvarchar](10) NULL,
	[percentual_reajuste] [decimal](5, 2) NULL,
	[vencimento_dia] [int] NULL,
	[renovacao_automatica] [nvarchar](10) NULL,
	[seguro_obrigatorio] [nvarchar](10) NULL,
	[clausulas_adicionais] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContratosResumo]    Script Date: 24/07/2025 10:47:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContratosResumo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_contrato] [int] NOT NULL,
	[id_unidade_cond21] [int] NULL,
	[resumo] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DatasContrato]    Script Date: 24/07/2025 10:47:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatasContrato](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_contrato] [int] NOT NULL,
	[data_ultimo_reajuste] [date] NULL,
	[data_vistoria] [date] NULL,
	[data_encerramento] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Encargos]    Script Date: 24/07/2025 10:47:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Encargos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_imovel] [int] NOT NULL,
	[tipo] [varchar](100) NULL,
	[valor] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fiadores]    Script Date: 24/07/2025 10:47:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fiadores](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_contrato] [int] NOT NULL,
	[nome] [varchar](255) NULL,
	[cpf_cnpj] [varchar](20) NULL,
	[telefone] [varchar](20) NULL,
	[email] [varchar](255) NULL,
	[endereco] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Garantias]    Script Date: 24/07/2025 10:47:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Garantias](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_contrato] [int] NOT NULL,
	[tipo] [varchar](50) NULL,
	[valor] [decimal](10, 2) NULL,
	[observacoes] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Imoveis]    Script Date: 24/07/2025 10:47:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Imoveis](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_cliente] [int] NULL,
	[endereco] [nvarchar](255) NULL,
	[tipo] [nvarchar](50) NULL,
	[valor_aluguel] [decimal](10, 2) NULL,
	[iptu] [decimal](10, 2) NULL,
	[condominio] [decimal](10, 2) NULL,
	[taxa_incendio] [decimal](10, 2) NULL,
	[status] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inquilinos]    Script Date: 24/07/2025 10:47:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inquilinos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nome] [nvarchar](100) NULL,
	[cpf_cnpj] [nvarchar](20) NULL,
	[telefone] [nvarchar](20) NULL,
	[email] [nvarchar](100) NULL,
	[tipo_garantia] [nvarchar](50) NULL,
	[responsavel_pgto_agua] [nvarchar](10) NULL,
	[responsavel_pgto_luz] [nvarchar](10) NULL,
	[responsavel_pgto_gas] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LocatariosExtras]    Script Date: 24/07/2025 10:47:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LocatariosExtras](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_contrato] [int] NOT NULL,
	[nome] [varchar](255) NULL,
	[cpf_cnpj] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Logs]    Script Date: 24/07/2025 10:47:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [int] NULL,
	[acao] [nvarchar](255) NULL,
	[data] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Moradores]    Script Date: 24/07/2025 10:47:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Moradores](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_imovel] [int] NULL,
	[id_contrato] [int] NULL,
	[nome] [varchar](255) NULL,
	[data_inicio] [date] NULL,
	[data_fim] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pagamentos]    Script Date: 24/07/2025 10:47:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pagamentos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_contrato] [int] NULL,
	[data_vencimento] [date] NULL,
	[data_pagamento] [date] NULL,
	[valor_aluguel] [decimal](10, 2) NULL,
	[valor_pago] [decimal](10, 2) NULL,
	[multa] [decimal](10, 2) NULL,
	[juros] [decimal](10, 2) NULL,
	[fci_pago] [decimal](10, 2) NULL,
	[status] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reajustes]    Script Date: 24/07/2025 10:47:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reajustes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tipo_indexador] [nvarchar](10) NULL,
	[mes_ano] [nvarchar](7) NULL,
	[percentual] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Repasses]    Script Date: 24/07/2025 10:47:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Repasses](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_cliente] [int] NULL,
	[data_repassado] [date] NULL,
	[valor_repassado] [decimal](10, 2) NULL,
	[desconto_adm] [decimal](10, 2) NULL,
	[fci_devolvido] [decimal](10, 2) NULL,
	[comprovante_path] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seguros]    Script Date: 24/07/2025 10:47:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seguros](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_contrato] [int] NOT NULL,
	[seguradora] [varchar](255) NULL,
	[valor] [decimal](10, 2) NULL,
	[vigencia_inicio] [date] NULL,
	[vigencia_fim] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatusContrato]    Script Date: 24/07/2025 10:47:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatusContrato](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_contrato] [int] NOT NULL,
	[status_atual] [varchar](100) NULL,
	[data_status] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Taxas]    Script Date: 24/07/2025 10:47:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Taxas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_contrato] [int] NOT NULL,
	[tipo] [varchar](100) NULL,
	[valor] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 24/07/2025 10:47:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nome] [nvarchar](100) NULL,
	[email] [nvarchar](100) NULL,
	[senha_hash] [nvarchar](255) NULL,
	[perfil] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Valores]    Script Date: 24/07/2025 10:47:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Valores](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_contrato] [int] NOT NULL,
	[tipo] [varchar](100) NULL,
	[valor] [decimal](10, 2) NULL,
	[data_inicio] [date] NULL,
	[data_fim] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vistorias]    Script Date: 24/07/2025 10:47:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vistorias](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_imovel] [int] NULL,
	[tipo] [nvarchar](10) NULL,
	[data] [date] NULL,
	[laudo_path] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Logs] ADD  DEFAULT (getdate()) FOR [data]
GO
ALTER TABLE [dbo].[ContasBancarias]  WITH CHECK ADD FOREIGN KEY([id_cliente])
REFERENCES [dbo].[Clientes] ([id])
GO
ALTER TABLE [dbo].[Contratos]  WITH CHECK ADD FOREIGN KEY([id_imovel])
REFERENCES [dbo].[Imoveis] ([id])
GO
ALTER TABLE [dbo].[Contratos]  WITH CHECK ADD FOREIGN KEY([id_inquilino])
REFERENCES [dbo].[Inquilinos] ([id])
GO
ALTER TABLE [dbo].[ContratosResumo]  WITH CHECK ADD FOREIGN KEY([id_contrato])
REFERENCES [dbo].[Contratos] ([id])
GO
ALTER TABLE [dbo].[DatasContrato]  WITH CHECK ADD FOREIGN KEY([id_contrato])
REFERENCES [dbo].[Contratos] ([id])
GO
ALTER TABLE [dbo].[Encargos]  WITH CHECK ADD FOREIGN KEY([id_imovel])
REFERENCES [dbo].[Imoveis] ([id])
GO
ALTER TABLE [dbo].[Fiadores]  WITH CHECK ADD FOREIGN KEY([id_contrato])
REFERENCES [dbo].[Contratos] ([id])
GO
ALTER TABLE [dbo].[Garantias]  WITH CHECK ADD FOREIGN KEY([id_contrato])
REFERENCES [dbo].[Contratos] ([id])
GO
ALTER TABLE [dbo].[Imoveis]  WITH CHECK ADD FOREIGN KEY([id_cliente])
REFERENCES [dbo].[Clientes] ([id])
GO
ALTER TABLE [dbo].[LocatariosExtras]  WITH CHECK ADD FOREIGN KEY([id_contrato])
REFERENCES [dbo].[Contratos] ([id])
GO
ALTER TABLE [dbo].[Logs]  WITH CHECK ADD FOREIGN KEY([id_usuario])
REFERENCES [dbo].[Usuarios] ([id])
GO
ALTER TABLE [dbo].[Moradores]  WITH CHECK ADD FOREIGN KEY([id_contrato])
REFERENCES [dbo].[Contratos] ([id])
GO
ALTER TABLE [dbo].[Moradores]  WITH CHECK ADD FOREIGN KEY([id_imovel])
REFERENCES [dbo].[Imoveis] ([id])
GO
ALTER TABLE [dbo].[Pagamentos]  WITH CHECK ADD FOREIGN KEY([id_contrato])
REFERENCES [dbo].[Contratos] ([id])
GO
ALTER TABLE [dbo].[Repasses]  WITH CHECK ADD FOREIGN KEY([id_cliente])
REFERENCES [dbo].[Clientes] ([id])
GO
ALTER TABLE [dbo].[Seguros]  WITH CHECK ADD FOREIGN KEY([id_contrato])
REFERENCES [dbo].[Contratos] ([id])
GO
ALTER TABLE [dbo].[StatusContrato]  WITH CHECK ADD FOREIGN KEY([id_contrato])
REFERENCES [dbo].[Contratos] ([id])
GO
ALTER TABLE [dbo].[Taxas]  WITH CHECK ADD FOREIGN KEY([id_contrato])
REFERENCES [dbo].[Contratos] ([id])
GO
ALTER TABLE [dbo].[Valores]  WITH CHECK ADD FOREIGN KEY([id_contrato])
REFERENCES [dbo].[Contratos] ([id])
GO
ALTER TABLE [dbo].[Vistorias]  WITH CHECK ADD FOREIGN KEY([id_imovel])
REFERENCES [dbo].[Imoveis] ([id])
GO
USE [master]
GO
